{% extends 'layout_Template.html' %}
{% block content %}
    <div>
        <div class="container">
            <div>
                <a class="btn btn-success" href="/user_add/" target="_blank">
                    <span class="glyphicon glyphicon-plus-sign " aria-hidden="true"></span>
                    用户新增
                </a>
                <div style="float: right ;width: 300px">
                    <form>
                        <div class="input-group">

                            <input type="text" name="userSerach" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn"> <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                            </button> </span>

                        </div>
                    </form>
                </div>
            </div>
            <div class="bs-example" data-example-id="panel-without-body-with-table">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        用户列表
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>年龄</th>
                            <th>账号余额</th>
                            <th>入职时间</th>
                            <th>性别</th>
                            <th>部门</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for userlist in queryUserList %}
                            <tr>
                                <td>{{ userlist.id }}</td>
                                <td>{{ userlist.name }}</td>
                                <td>{{ userlist.password }}</td>
                                <td>{{ userlist.age }}</td>
                                <td>{{ userlist.account }}</td>
                                <td>{{ userlist.create_time|date:"Y-m-d" }}</td>
                                <td>{{ userlist.get_gender_display }}</td>
                                <td>{{ userlist.depart_id.title }}</td>
                                <td>
                                    <a class="btn btn-primary btn-xs" href="/user/{{ userlist.id }}/user_edit/">编辑</a>
                                    <a class="btn btn-danger btn-xs"
                                       href="/user/{{ userlist.id }}/user_delete/">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     {{ page_string }}
    </div>
{% endblock %}
